*{
    margin: 0;
    padding: 0;
}

.main {
    background: linear-gradient(
    180deg,
    rgba(174, 103, 233, 1) 0%,
    rgba(100, 100, 230, 1) 40%
  );
  height: 100vh;
}

.card{
    background: #fff;
    border-radius: 5em;
    height:60vh
    
}

h1{
    margin: auto;
}