*{
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
}

.main {
    background: linear-gradient(
    180deg,
    rgba(174, 103, 233, 1) 0%,
    rgba(100, 100, 230, 1) 40%
  );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-woman-mobile {
    height: 11em;
    position: absolute;
    left: 5em;
    top: 0.875em;
}

.pattern-mobile {
    position: absolute;
    left:4.7em;
    top:7.5em
}



.card{
    background: #fff;
    border-radius: 2em;
    height:55vh;
    width:90%;
    margin-top: 4.3em;
    padding-bottom: 8em;
}

p {
    display: block;
    margin: 0em 1.5em;
    padding-bottom: 1.2em;
    border-bottom: thin solid hsl(240, 5%, 91%);
    font-size: 13px;
}

h1{
    display: block;
    text-align: center;
    margin: 4em 0 0.6em 0;
}

.iconArrow {
    position:relative;
    left: 18.7em ;
    top:1.1em;
}
